@import "tailwindcss";

@font-face {
  font-family: "Sentient";
  src: url("/Sentient-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sentient";
  src: url("/Sentient-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #ffc700;
  --primary-foreground: #000000;
  --border: #424242;
  --secondary: #1a1a1a;
  --muted: #808080;
  --radius: 0.75rem;
}

.light {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #ffc700;
  --primary-foreground: #000000;
  --border: #e2e2e7;
  --secondary: #f4f4f5;
  --muted: #71717a;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* GSAP Hidden Initial State */
.gsap-reveal {
  opacity: 0;
  transform: translateY(20px);
}

@utility perspective-1000 {
  perspective: 1000px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 768px) {
    padding-inline: 2rem;
  }

  @media (width >= 1280px) {
    padding-inline: 3rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);

  --font-mono: var(--font-geist-mono);
  --font-sentient: "Sentient", sans-serif;

  --shadow-glow: 0 0 8px 2px var(--tw-shadow-color);

  @keyframes accordion-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
  --animation-accordion-down: accordion-down 0.3s ease-out;
  --animation-accordion-up: accordion-up 0.3s ease-out;

  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }
  --animation-border-beam: border-beam calc(var(--duration) * 1s) infinite
    linear;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#webgl {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

#webgl canvas {
  width: 100%;
  height: 100%;
}
